
.fixedlogo {
  position: fixed;
  left: 10%;
  top: 2%;
}

.navbar {
transform: rotate(-90deg);
display:flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
position:fixed;
top: 36%;
right: 57%;
width: 70em;
height: 8em;
background-color: white;
}

.about-section {
  height: 100vh;
  background-color:red;
}

.active {
  text-decoration: underline;
  transition:all 0.1s ease;
}