
.fixedlogo {
  position: fixed;
  margin-top: 35px;
  margin-left: 35px;
  stroke: #e5e5e5;
}

.app {
  position: static;
  margin-left: 130px;
}

.navbarcontainer {
  width: 270px;
  height: 100vh;
  position:absolute;
  margin-top:-80px;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar {
transform: rotate(-90deg);
display:flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
position:fixed;
padding: 5px 0;
}

.about-section {
  height: 100vh;
  background-color:red;
}

.active {
  text-decoration: underline;
  transition:all 0.1s ease;
}